{% set theme_config = attribute(config.themes, config.system.pages.theme) %}
<!doctype html>
<html lang="{{ grav.language.getActive ?: theme_config.default_lang }}">
    <head>
        {% block head %}
            <meta charset="utf-8"/>
            <title>
                {% if header.title %}{{ header.title|e('html') }}
                    |
                {% endif %}{{ site.title|e('html') }}</title>

            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            {% include 'partials/metadata.html.twig' %}

            <link rel="icon" type="image/png" href="{{ url('theme://images/logo.png') }}"/>
            <link rel="canonical" href="{{ page.url(true, true) }}"/>

            <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Coming+Soon|Open+Sans:400,400i,700,700i" rel="stylesheet">
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/solid.css" integrity="sha384-rdyFrfAIC05c5ph7BKz3l5NG5yEottvO/DQ0dCrwD8gzeQDjYBHNr1ucUpQuljos" crossorigin="anonymous">
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/fontawesome.css" integrity="sha384-u5J7JghGz0qUrmEsWzBQkfvc8nK3fUT7DCaQzNQ+q4oEXhGSx+P2OqjWsfIRB8QT" crossorigin="anonymous">

            {% block stylesheets %}
                {% do assets.addCss('theme://css-compiled/owl.carousel.min.css') %}
                {% do assets.addCss('theme://css-compiled/owl.theme.default.min.css') %}
                {% do assets.addCss('theme://css-compiled/theme.min.css') %}
                {% do assets.addCss('theme://css-compiled/photoswipe/photoswipe.css') %}
                {% do assets.addCss('theme://css-compiled/photoswipe/default-skin/default-skin.css') %}
            {% endblock %}
            {{ assets.css() }}

            {% block javascripts %}
                {% do 
                    assets.addJs('jquery', 100) %}
                {% do 
                    assets.addJs('theme://js/bootstrap.bundle.min.js', {group: 'bottom'}) %}
                {% do
                    assets.addJs('theme://js/smooth-scroll.js', {group: 'bottom'}) %}
                {% do 
                    assets.addJs('theme://js/owl.carousel.min.js', {group: 'bottom'}) %}
                {% do 
                    assets.addJs('theme://js/photoswipe.min.js', {group: 'bottom'}) %}
                {% do
                    assets.addJs('theme://js/photoswipe-ui-default.min.js', {group: 'bottom'}) %}
                {% do 
                    assets.addJs('theme://js/script.js', {group: 'bottom'}) %}
            {% endblock %}
            {{ assets.js() }}

        {% endblock head%}
    </head>
    <body id="top" class="{{ page.header.body_classes }}" data-spy="scroll" data-offset="60" data-target="#navbar">

        {% block header %}
            <nav id="navbar" class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
                <a class="navbar-brand" href="{{ base_url == '' ? '/' : base_url }}">{{ config.site.title }}</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse justify-content-end" id="nav">
                    {% block header_navigation %}
                        {% include 'partials/navigation.html.twig' %}
                    {% endblock %}
                </div>
            </nav>
        {% endblock %}

        {% block hero %}{% endblock %}

        <main id="main">
            {% block body %}
                {% block content %}{% endblock %}
            {% endblock %}
        </main>

        {% block footer %}
            {% include 'partials/footer.html.twig' %}
        {% endblock %}

        {% block bottom %}
            {{ assets.js('bottom') }}
        {% endblock %}

    </body>
</html>